<?xml version="1.0"?>
<!-- OJ 4.6.2020: ero launch-file für Summit_XL in der WHS-Welt-->
<launch>
	<!-- added global ROS -Parameter OJ 22.5.20-->
	<param name="/use_sim_time" value="true"/>	

	<!-- arg to config the launch file-->
	<arg name="launch_rviz" default="true"/>
    <!--	<arg name="gazebo_world" default="$(find summit_xl_gazebo)/worlds/summit_xl_office.world"/> -->
	<arg name="gazebo_world" value="$(find summit_xl_gazebo)/worlds/whs_world.world"/>
	<arg name="omni_drive" default="false"/>
	<arg name="ros_planar_move_plugin" value="$(arg omni_drive)"/>	
	
	<!-- arguments robot a -->
	<arg name="launch_robot_a" default="true"/>
	<arg name="map_file_a" default="/whs_world_map/whs.yaml"/>
	<!-- OJ not longer used with Noetic arg name="localization_robot_a" default="true"/ -->
	<!-- instead we use-->
	<arg name="ekf_localization_robot_a" default="false"/>
    <arg name="ekf_localization_mode_a" default="odom"/>

	<arg name="gmapping_robot_a" default="false"/>
	<arg name="move_base_robot_a" default="true"/>
	<arg name="amcl_and_mapserver_a" default="true"/>
	<arg name="launch_pad_a" default="false"/>
	<arg name="launch_base_hw_sim" default="false"/>
	<arg name="debug" default="false"/>
	
	<!--params of the different robots-->
	<!-- robot a -->
	<arg name="id_robot_a" default="robot"/>
	<arg name="x_init_pose_robot_a" default="0" />
	<arg name="y_init_pose_robot_a" default="0" />
	<arg name="z_init_pose_robot_a" default="0" />
	<arg name="xacro_robot_a" default="summit_xl_std.urdf.xacro"/>

	<!--Spawn ROBOT 1-->
	<include if="$(arg launch_robot_a)" file="$(find summit_xl_gazebo)/launch/summit_xl_one_robot.launch">
		<arg name="id_robot" value="$(arg id_robot_a)"/>
		<arg name="x_init_pose" value="$(arg x_init_pose_robot_a)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose_robot_a)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose_robot_a)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot_a)"/>
		<!-- OJ not longer used with Noetic  -->
		<!-- <arg name="launch_robot_localization" value="$(arg localization_robot_a)"/> -->
	<!-- instead we use-->
	    <arg name="launch_robot_ekf_localization" value="$(arg ekf_localization_robot_a)"/>
        <arg name="robot_ekf_localization_mode" value="$(arg ekf_localization_mode_a)"/>
		
		<arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver_a)"/>
		<arg name="launch_gmapping" value="$(arg gmapping_robot_a)"/>
		<arg name="map_file" value="$(arg map_file_a)"/>
 		<arg name="launch_move_base" value="$(arg move_base_robot_a)"/>
		<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="launch_pad" value="$(arg launch_pad_a)"/>
		<arg name="launch_base_hw_sim" value="$(arg launch_base_hw_sim)"/>
	</include>
	
	<!--  rviz visualization-->
	<include file="$(find summit_xl_gazebo)/launch/gazebo_rviz.launch">
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
		<arg name="world" value="$(arg gazebo_world)"/>
		<arg name="debug" value="$(arg debug)"/>
	</include>
</launch>
