<?xml version="1.0"?>
<!-- turtlesim_demo.launch 
  
  Launcht mehrere Turtlesim Programme 

  Usage:
    $ turtlesim_demo.launch
-->
<launch>
  
  <!-- 
  <arg name="robot_ip" doc="IP of the controller" />
  <arg name="reverse_port" default="50001" doc="Port on which controller listens for position values passed to servoj thread from the driver" />
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints."/>
  <arg name="min_payload"  default="0.0" doc="lower payload bound for the robot" />
  <arg name="max_payload"  default="3.0" doc="upper payload bound for the robot" />  -->

<!--	ROS Master startet automatisch -->

<!-- pkg  = Verzeichnis/Package in dem der Code des Knoten liegt
	 name = Name des Knotens, der beim ROS-Master angemeldet wird
	 type = Name des Code-Files 
-->

<!-- Turtlesim-Node starten-->
<node pkg="turtlesim" name="sim" type="turtlesim_node"/> -->


<!-- Turtle Tastatursteuerung starten-->
<!-- dabei keine neue Konsole oeffnen
<node pkg="turtlesim" name="teleop_node" type="turtle_teleop_key" output="screen" /> 
-->

<!-- Besser: Shell Skript starten -->
<!--<node pkg="turtle_sim_demo" type="set_ROS_IP_localhost.sh" name="set_ROS_IP_localhost" output="screen" /> -->
<node pkg="turtle_sim_demo" type="my_first_shell_script.sh" name="teleop_node" output="screen" />
<node pkg="turtle_sim_demo" type="rqt_script.sh" name="rqt_node" output="screen" />  <!-- rqt -->

</launch>
